@font-face {
    font-family: "Avenir LT Std 95 black";  
  src: local("Avenir LT Std 95 black"),
    url("./Fonts/avenir_lt_std_95_black.woff") format("woff");
}
@font-face {
    font-family: "Avenir LT Std Medium";  
  src: local("Avenir LT Std 55 Roman"),
    url("./Fonts/avenir_lt_std_55_roman.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";  
src: local("Open Sans"),
  url("./Fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Semibold";  
src: local("Open Sans Semibold"),
  url("./Fonts/OpenSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Bold";  
src: local("Open Sans Bold"),
  url("./Fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Extrabold";  
src: local("Open Sans Extrabold"),
  url("./Fonts/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Italic";  
src: local("Open Sans Italic"),
  url("./Fonts/OpenSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "Impact";  
src: local("Impact"),
  url("./Fonts/impact.woff") format("woff");
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}